body{
    margin: 50px;
}

input[type="text"]{
    height: 30px;
    width: 100px;
    border: 2px solid lightseagreen;
    border-radius: 20px;
    background-color: lightgrey;
}

::placeholder{
    text-align: center;
    color: lightseagreen;
}

.plus{
    height: 30px;
    width: 30px;
    margin: 30px 0px;
    border-radius:50%;
    background-color: lightseagreen;
    text-align: center;
}

.plus p{
    margin: auto;
    color: white;
    font-size: 27px;
    font-weight: bolder;
}

.create {
    width: 150px;
    height: 30px;
    background-color: blue;
    text-align: center;
    color: white;
    box-shadow: 5px 5px black;
}